
<td><%= link_to new_admin_allergen_path do %>
  <button>New</button>
<% end %>
<table>
  <tr>
    <td>Title</td>
    <td>Actions</td>
  </tr>
  <% @allergens.each do |a| %>
    <tr>
      <td><%= a.title %></td>
      <td>
        <%= link_to edit_admin_allergen_path(a) do %>
          <button>Edit</button>
        <% end %>
        <%= link_to admin_allergen_path(a), data: { "turbo-method": :delete, "turbo-confirm": 'You sure? This will remove it from all users as well' } do %>
          <button>Delete</button>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @allergens %>
