<homepage_container>
  <div style='padding:12px'>Packmule Boulangerie</div>
 
  <%= image_tag 'free-will.gif'%>
  <homepage_shipments_container>
    <%@upcoming_shipments.each do |s| %>
      <div class='card'>
        <div class='card-header'>
          <div style='padding-left:4px'><%= s.fulfillment_date.strftime('%m-%d') %> <%= s.title %></div>
        </div>
        <%= image_tag "question-#{Random.rand(12)}.gif", style:'height:50%;' %>
        <%=
          button_to s.recipients.include?(Current.recipient) ? "I'm in" : 'I want in',
          user_shipments_path(shipment_id: s.id),
          disabled: s.recipients.include?(Current.recipient) %>
      </div>
    <% end %>
  </homepage_shipments_container>
</homepage_container>
