<div>
  Administrative tools will be here one day.
</div>


<div data-controller="dashboard">
  <div>
    <div><%= label_tag :image, "Upload GLB" %></div>
    <div><%= file_field_tag :image, id: '#upload-input' %></div>
  </div>
  <table style='margin:10px'>
    <tr>
      <td>
        <div><%= label_tag :distance, "Camera Distance" %></div>
        <div><%= number_field_tag "camera-distance-input", 3.35, min: "0.1", max: "20.0", step: ".01" %></div>
      </td>
      <td>
        <div><%= label_tag :angle, "Viewing Angle" %></div>
        <div><%= number_field_tag "camera-angle-input", -20, min: -180, max: 20 %></div>
      </td>
      <td>
        <div><%= label_tag :speed, "Rotation Speed (RPS)" %></div>
        <div><%= number_field_tag "rotation-speed-input", 0.05, min: 0.01, max: 1, step: 0.01 %></div>
      </td>
    </tr>
  </table>
  <button
    data-action="click->dashboard#record"
  >
    Record Webm
  </button>
</div>
