<h>Signed up users:</h>
<table>
  <tr>
    <td>Email</td>
    <td>Allergies</td>
    <td>Notes</td>
    <td>Actions</td>
  </tr>
  <% @recipients.each do |r| %>
    <tr>
      <td><%= r.email %></td>
      <td>
        <% r.allergens.each do |a| %>
          <div> <%= a.title %> </div>  
        <% end %>
      </td>
      <td><%= r.notes %></td>
      <td>
        <%= link_to edit_admin_recipient_path(r) do %>
          <button>Edit</button>
        <% end %>
        <%= link_to admin_recipient_path(r), data: { "turbo-method": :delete, "turbo-confirm": "you sure?" } do %>
          <button>Delete</button>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @recipients %>
<%= link_to admin_recipient_export_path(format: 'csv') do %>
  <button>Export</button>
<% end %>
