<navbar>
  <%= link_to admin_shipment_index_path do %>
    <button>Edit Catalog</button>
  <% end %>
  <%= link_to admin_recipient_index_path do %>
    <button>Mailing List Recipients</button>
  <% end %>
  <%= link_to admin_allergens_path do %>
    <button>Allergens</button>
  <% end %>
  <%= link_to edit_admin_credentials_path do %>
    <button>Edit Credentials</button>
  <% end %>
  <%= link_to logout_path do %>
    <button>Logout</button>
  <% end %>
</navbar>
