<h>Edit User:</h>
<%= form_with url: user_my_allergies_path, model: @recipient, method: :put, data: { recipient_id: @recipient.id } do |form| %>
  <table>
  <%= form.collection_check_boxes :allergen_ids, Allergen.all, :id, :title do |a| %>
    <tr>
      <td><%= a.check_box %></td>
      <td><%= a.label %></td>
    </tr>
  <% end %>
  </table>
  <%= form.submit %>
<% end %>
