<h>Update Shipment:</h>
<div><%= image_tag url_for(@shipment.image.present? ? @shipment.image : 'default.gif')%></div>
<%= form_with url: admin_shipment_path(@shipment), model: @shipment do |form| %>
  <table>
    <tr>
      <td><%= form.label :title, "Title" %></td>
      <td><%= form.text_field :title %></td>
    </tr>
    <tr>
      <td><%= form.label :description, "Description" %></td>
      <td><%= form.text_field :description %></td>
    </tr>
    <tr>
      <td><%= form.label :image, "Image" %></td>
      <td><%= form.file_field :image %></td>
    </tr>
    <tr>
      <td><%= form.label :fulfillment_date, "Fulfillment Date" %></td>
      <td><%= form.date_field :fulfillment_date %></td>
    </tr>
  </table>
  <%= form.submit %>
<% end %>
