<h>Update Shipment:</h>
<div><%= image_tag url_for(@shipment.image.present? ? @shipment.image : 'default.gif')%></div>
<%= form_with url: admin_shipment_path(@shipment), model: @shipment do |form| %>
  <table>
    <tr>
      <td><%= form.label :title, "Title" %></td>
      <td><%= form.text_field :title %></td>
    </tr>
    <tr>
      <td><%= form.label :description, "Description" %></td>
      <td><%= form.text_field :description %></td>
    </tr>
    <tr>
      <td><%= form.label :image, "Image" %></td>
      <td><%= form.file_field :image %></td>
    </tr>
    <tr>
      <td><%= form.label :fulfillment_date, "Fulfillment Date" %></td>
      <td><%= form.date_field :fulfillment_date %></td>
    </tr>
    <tr>
      <td><%= form.label :order_limit, "Order Limit" %></td>
      <td><%= form.number_field :order_limit %></td>
    </tr>
  </table>
  <%= form.submit %>
<% end %>

<div style='padding:24px'>
  <div>Registered Recipients</div>
  <table>
    <tr>
      <td>Email</td>
      <td>Action</td>
    </td>
    <% @shipment.recipient_shipments.each do |rs| %>
      <tr>
        <td><%= rs.recipient.email %></td>
        <td><%= button_to "Remove", admin_recipient_shipment_path(rs), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }%></td>
      </tr>
    <% end %>
  </table>
</div>
