<%= link_to new_admin_shipment_path do %>
  <button>New</button>
<% end %>
<table>
  <tr>
    <td>title</td>
    <td>Recipients</td>
    <td>description</td>
    <td>Order Limit</td>
    <td>date</td>
    <td>image</td>
    <td>Actions</td>
  </tr>
  <% @shipments.each do |s| %>
    <tr>
      <td><%= s.title %></td>
      <td>
        <% s.recipients.each do |r| %>
          <div><%= r.email %>,</div>
        <% end %>
      </td>
      <td><%= s.description || 'NO DESCRIPTION' %></td>
      <td><%= s.order_limit %></td>
      <td><%= s.fulfillment_date || 'NO DATE' %></td>
      <td>
        <%= render 'shared/multimedia', shipment: s %>
      </td>
      <td>
        <%= link_to edit_admin_shipment_path(s) do %>
          <button>Edit</button>
        <% end %>
        <%= button_to 'Delete', admin_shipment_path(s), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
      </td>
    </tr>
<% end %>
</table>
<%= paginate @shipments %>
