<h>Shipments:</h>

<div><%= link_to "New", new_admin_shipment_path %></div>
<table>
  <tr>
    <td>title</td>
    <td>description</td>
    <td>date</td>
    <td>image</td>
    <td>Actions</td>
  </tr>
  <% @shipments.each do |s| %>
    <tr>
      <td><%= s.title %></td>
      <td><%= s.description || 'NO DESCRIPTION' %></td>
      <td><%= s.fulfillment_date || 'NO DATE' %></td>
      <td><%= image_tag url_for(s.image)%></td>
      <td>
        <%= button_to "Edit", edit_admin_shipment_path(s) %>
        <%= button_to "Delete", admin_shipment_path(s), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @shipments %>
