<h>New Shipment:</h>
<%= form_with url: admin_shipment_index_path, method: :post do |form| %>
  <table>
    <tr>
      <td><%= form.label :title, "Title" %></td>
      <td><%= form.text_field :title %></td>
    </tr>
    <tr>
      <td><%= form.label :description, "description" %></td>
      <td><%= form.text_area :description %></td>
    </tr>
    <tr>
      <td><%= form.label :image, "Image" %></td>
      <td><%= form.file_field :image %></td>
    </tr>
    <tr>
      <td><%= form.label :fulfillment_date, "Fulfillment Date" %></td>
      <td><%= form.date_field :fulfillment_date %></td>
    </tr>
  </table>
  <%= form.submit %>
<% end %>
