<card_container>
  <% @shipments.each do |s| %>
      <div class='shipment-card'>
        <div class='shipment-card-header'>
          <div class='title-padding'>
            <%= s.title %><%= s.fulfillment_date.present? ? " (#{s.fulfillment_date})" : '' %>
          </div>
        </div>
        <%= link_to shipment_path(s) do %>
          <div class='shipment-card-body'>
            <% if s.video_content? %>
              <%= video_tag url_for(s.image), autoplay: :autoplay, loop: :loop, muted: :muted%>
            <% elsif s.image_content? %>
              <%= image_tag url_for(s.image)%>
            <% else %>
              <%= image_tag url_for('default.gif')%>
            <% end %>
          </div>
        <% end %>
      </div>
  <% end %>
</card_container>
