<div class='navbar'>
  <%= link_to homepage_path do %>
    <button>Home</button>
  <% end %>
  <%= link_to shipment_index_path do %>
    <button>Catalog</button>
  <% end %>
  <%= link_to about_path do %>
    <button>About</button>
  <% end %>
  <%= link_to contact_path do %>
    <button>Contact</button>
  <% end %>
    <% if Current.recipient || Current.administrator %>
      <%= link_to logout_path do %>
        <button>Logout</button>
      <% end %>
    <% else %>
      <%= link_to user_dashboard_path do %>
        <button>Login</button>
      <% end %>
    <% end %>
</div>
