<!DOCTYPE html>
<html>
  <head>
    <title>Packmule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/flash_alerts' %>
    <body_content>
    <% if content_for?(:navbar) %>
      <%= yield(:navbar) %>
    <% else %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <%= yield %>
    </body_content>
  </body>
</html>
